@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: var(--bg-dark-primary);
    color: var(--text-white);
    font-family: "JetBrains Mono", monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

a {
    text-decoration: none;
    color: var(--text-white);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style:none;
}

li {
    padding: 0 2rem;
}

.hero-section {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hero-section h1 {
    font-size: 3rem;
}

.hero-section p {
    font-size: 1rem;
    color: var(--text-gray);
}

button {
    border: none;
    background-color: var(--card-accent);
    padding: 0.6rem 1.5rem;
    border-radius: 1rem;
    color: var(--text-white);
}

button:hover {
    cursor: pointer;
    background-color: var(--accent-gray);
}