@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    background-color: var(--bg-dark-primary);
    color: var(--text-white);
    font-family: "JetBrains Mono", monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

a {
    text-decoration: none;
    color: var(--text-white);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style:none;
}

li {
    padding: 0 2rem;
}